.btn2 {
     display: flex;
     align-items: center;
    border-radius: 10px;
    border: 2px solid #00663C;
    background-color: white;
    color: #00663C;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}