.layout {
    background: white;
    margin-left: 25%; /* Ensure main content is not covered by the sidebar */
    padding: 20px;
    width: 75%; /* Take up the remaining space */
    height: 100vh; /* Ensure layout takes full height of the viewport */
    overflow-y: auto; /* Allow layout content to scroll if needed */
  }
  
  /* Add your other layout styling as needed */
  @media screen and (max-width: 767px) {
    .layout {
      /* Revert to default styles for mobile layout */
      margin-left: 0;
      padding: 0;
      width: auto;
      height: auto;
      overflow-y: auto;
    }
  }
  