.button3-container{
    display: flex;
    justify-content: center;
        margin-right: 2rem
}


.submitbtn3 {
    border-radius: 10px;
    background: #ffffff;
    color: #00663c; /* black text */
    padding: 16px 32px;
    border: 2px solid #00663c; /* #00663C border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .submitbtn3:hover,
  .submitbtn3:focus {
    background: #00663c;
    color: #ffffff;
    border-color: #00663c;
  }
  


@media (min-width: 768px) {
    .button3-container{
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem
    }
    
    
    .submitbtn3 {
        border-radius: 10px;
        background: #ffffff;
        color: #00663c; /* black text */
        padding: 16px 32px;
        border: 2px solid #00663c; /* #00663C border */
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      }
      
      .submitbtn3:hover,
      .submitbtn3:focus {
        background: #00663c;
        color: #ffffff;
        border-color: #00663c;
      }
      
    }