.heading {
    display: flex;
    width: 1075px;
    height: 118px;
    padding: 24px 824px 64px 26px;
    align-items: center;
    flex-shrink: 0;
    color: #00663C;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}