
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.leftCorner {
  flex: 1;
  max-width: 200px;
  margin: 0;
}
.logo{
    width: auto;  /* Adjust the size as needed */
   height: 40px;
}
.rightCorner {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
}

.photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.name {
  font-size: 14px;
}



