.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    background: linear-gradient(180deg, #249266 0%, #00301D 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    font-weight: bold;
    
    flex-direction: column;
    padding-bottom: 20px; /* Add space at the bottom */
  }
  
  .profile {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 0;
    width: 100%;
    text-align: center; /* Center text horizontally */
    border-top: 2px solid #ccc;
  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  }
  
  .profile img {
    width: 80px; /* Set the width as needed */
    height: 80px; /* Set the height as needed */
    object-fit: cover; /* Maintain aspect ratio and fill container */
    border-radius: 50%; /* Make it circular */
    margin-bottom: 10px; /* Add some space below the image */
    margin-top: 20px;
  }
  
  .profile .name {
    margin-bottom: 10px; /* Add some space below the name */
  }


  .sidebar-items {
  
    width: auto;
    flex: 1;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-item {
  
   
    width: 100%;
  }
  
  .sidebar-item-content {

    width: 100%;
  }
  
  .sidebar-link {
    display: block;
    padding: 20px 20px;
    margin: 10px 40px;
    text-decoration: none;
    color: white; /* Set your desired link color */
    font-size: larger;
    border-radius: 10px; 
  }
  
  .sidebar-link:hover,
  .sidebar-link.active {
    background-color: #EDEEF3;
    color: #00663C /* Set your desired active link background color */
  }



  .sidebar-logo {
    padding-top: 60px; /* Add space above the logo */
    border-bottom: 2px solid #ccc; /* Add border at the bottom */
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    padding-bottom: 20px; /* Add space between border line and logo */
  }
  
  .logo {
    width: 80%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }


  .sidebar-item-content .sidebar-link svg path {
    fill: white; /* Set default color */
  }
  
  .sidebar-item-content .sidebar-link:hover svg path {
    fill: #00663c; /* Set hover color */
  }
  
  .sidebar-item-content .sidebar-link.active svg path {
    fill: #00663c; /* Set active color */
  }



  @media screen and (max-width: 767px) {
    .sidebar .layout {
      display: none; /* Hide the sidebar completely on mobile screens */
    }
  }